body {
	background-color: rgba(17, 24, 39, 1);
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.App {
	font-family: sans-serif;
	text-align: center;
	margin: 5vh 5vw;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

.viewItem {
	width: 90vw;
	height: 45vh;
}

textarea,
textarea:focus {
	border: 0;
	outline: 0;
	padding: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	background-color: rgba(17, 24, 39, 1);
	color: white;
	resize: none;
}
